
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo" style="margin-top: 20px;">
           
            <!-- Uncomment below if you prefer to use an image logo -->
          <a href="index.html"><img src="../../../assets/images/logo.jpg" alt="" style="height: 80px;margin-right: 20px;" class="img-fluid"></a>
          <!-- <a style="margin-top: 20px; color: #634fac;
          margin: 15px 0 0 0;
          font-size: 24px;" >SMARTVIEW CCTV</a> -->
          </div>
    

      <nav id="navbar" class="navbar">
      
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">HIIIIIIIIIIIII</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a style="text-decoration: none;" class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->




<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Bettter Securityl experience with <a class="hilight">SMARTVIEW CCTV</a></h1>
          <h2>Empowering Protection: Partner with Our CCTV Experts</h2>
          <div>
            <a href="#about" class="btn-get-started scrollto" style="text-decoration: none;">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="../../../assets/images/grgrhrwhrh1.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->



 <!-- ======= Services Section ======= -->
 <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Check out the great services we offer</p><br><br>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a style="    text-decoration: none;
color: #404179;" href="">CCTV and Equipments</a></h4>
            <p class="description">Discover an Extensive Range of CCTV Systems and Equipment at Unbeatable Prices!</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a style="    text-decoration: none;
              color: #404179;" href="">Installations</a></h4>
            <p class="description">Expert CCTV Installations Tailored to Your Security Needs: Trust Our Professional Team for Seamless Setup and Peace of Mind.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a  style="    text-decoration: none;
              color: #404179;" href="">Fingerprint Systems</a></h4>
            <p class="description">Advanced Fingerprint Systems: Enhancing Security with Biometric Precision. Explore our cutting-edge fingerprint technology for seamless access control and identity verification.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a style="    text-decoration: none;
              color: #404179;" href="">Modifications</a></h4>
            <p class="description">We specialize in professional CCTV modifications. Our expert team is dedicated to enhancing and customizing your existing CCTV systems</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->





  

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Check out our beautifull portfolio</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
        
          <li  (click)="updateKeyword('camera')">Camera</li>
          <li (click)="updateKeyword('DVR')">DVR</li>
          <!-- <li (click)="updateKeyword('Camera')">Web</li> -->
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200" *ngIf="filter === 'camera'">

      <div  class="col-lg-4 col-md-6 portfolio-item filter-app" *ngFor="let camera of cameras">
        <div class="portfolio-wrap">
          <img src="../../../assets/images/camera/{{camera.image}}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../../../assets/images/camera/{{camera.image}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
            <a  (click)="openModel(camera)" ><i class="bi bi-link"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>{{camera.name}}</h4>
            <h4 style="font-size: 20px;color:#6610F2;">Rs:{{camera.price}}/=</h4>
          </div>
        </div>
      </div>

      
    </div>



    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200" *ngIf="filter === 'DVR'">

      <div  class="col-lg-4 col-md-6 portfolio-item filter-app" *ngFor="let dvr of dvrs">
        <div class="portfolio-wrap">
          <img src="../../../assets/images/DVR/{{dvr.image}}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../../../assets/images/DVR/{{dvr.image}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
            <a  ><i class="bi bi-link"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>{{dvr.name}}</h4>
            <h4 style="font-size: 20px;color:#6610F2;">Rs:{{dvr.price}}/=</h4>
          </div>
        </div>
      </div>

      
    </div>

  </div>
</section><!-- End Portfolio Section -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Voluptatem dignissimos provident quasi</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>Corporis voluptates sit</h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Ullamco laboris nisi</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->






    <div class="modal" id="myModal">
      <div class="modal-dialog" >
        <div class="modal-content" >
          <div class="modal-header">
            <h4 class="modal-title" >Specifications</h4>
            <button type="button" class="btn-close" (click)="CloseModel()" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body" *ngFor="let des of newCamera.description">
            <li>{{des}}</li>
    
          </div>
          <div class="modal-footer">
            <button type="button" (click)="CloseModel()" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>